@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-weight: 400;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19.43vh;
  background-color: #ff69b4;
  section {
    img {
      width: 7.1vw;
      height: 90px;
    }
  }
}
#Outubro {
  width: 18vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7vw;
  h1{
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-weight: 400;
  }
}
section {
  nav {
    ul {
      margin-right: 14vh;
      display: flex;
      width: 41.66vw;
      justify-content: space-between;
      font-size: 28px;
      a {
        font-family: "Noto Sans", sans-serif;
        color: #e4eef1;
        font-weight: 300;
        font-size: 3vh;
        text-decoration: none;
      }
    }
  }
}
#container-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50.51vh;
  background-color: #ffd9ec;
  h2 {
    font-size: 25px;
    font-weight: 400;
    width: 30vw;
  }
  img {
    width: 22vw;
    height: 48vh;
  }
}
#container-2 {
  display: flex;
  background-color: #ff69b4;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
  img {
    width: 30vw;
    height: 24vh;
  }
  h2 {
    font-size: 3.7vh;
    width: 40.75vw;
    font-weight: 300;
    color: #e4eef1;
  }
}
#container-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffd9ec;
  height: 63vh;
  img {
    width: 23.02vw;
    height: 38.2vh;
  }
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF69B4 ;
  img{
    width: 4.2vw;
    height: 7vh;
  }

}
